.number {
  font-size: 180px;
  font-weight: 400;
  line-height: 235px;
  color: #fff;
  border-bottom: 2px #f1f1f1 solid;
  padding-bottom: 0.2em;
  margin-bottom: 0.25em;
  display: block;
  width: 100%;
}
